<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- HBS represents Handle Bars --}}
    <h1>finally, dynamic content with express BloodX</h1>
    {{!-- Now we can add data here, dynamically using "{{}}" --}}
</body>
</html>